* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(209, 209, 214);
}

.row {
    background-color: white;
    border-radius: 30px;
}

img {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

label {
    justify-content: left !important;
}

.btn1 {
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}

.btn1:hover {
    background-color: white;
    border: 1px solid;
    color: black;
}

footer {
    text-align: center;
    color: whitesmoke;
    line-height: 50px;
    position: sticky;
    bottom: 0;
    background-color: aqua;
    width: 100%;
}

footer a {
    text-decoration: none;
    color: whitesmoke;
}


input {}
#mapid { height: 180px; }