* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    margin-bottom: 40px;
}

h1:after{
    display: block;
    height: 2px;
    background-color: black;
    content: " ";
    width: 200px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 0px;
}

body {
    background-color: rgb(209, 209, 214);
}

.row {
    background-color: white;
    border-radius: 30px;
}

img {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}


.btn1 {
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}

.btn1:hover {
    background-color: white;
    border: 1px solid;
    color: black;
}

input {}
#mapid { height: 180px; }

.col-centered{
    float: none;
    margin: 0 auto;

}
h3,h6,h4,h1,p, .form-control{
    text-align: center;
}
label {
  text-align: center;
  width: 100%;
  margin: 5px;
  text-decoration: underline;
 font-style: italic;
}

select{
    text-align-last: center;
}
.container{
    margin-top: 100px;
}
#loginregister ul{
	text-decoration: none;
}
#loginregister a{
	float: left;
	display: block;
        justify-content: space-between;
	color: #fff;
        padding-left: .5rem;
        padding-right: .5rem;
        margin-right: .5rem;
}