*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container{
    margin-top: 100px;
}

h3, h1{
    text-align: center;
}
h1{
    margin-bottom: 40px;
}

h1:after{
    display: block;
    height: 2px;
    background-color: black;
    content: " ";
    width: 200px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 0px;
}
img{
    height: 250px;
}

.carousel-indicators .active{
    background-color: #007bff;
}

.carousel-indicators li{
    background-color: grey;
}

.carousel-indicators{
    bottom: 0;
   
}

.carousel{
    padding-bottom: 50px;
}

.card-body{
    height: 250px;
}

.card-text{
    height: 100px;
}

.searcheve{
    margin-top: 10px
}
#loginregister ul{
	text-decoration: none;
}
#loginregister a{
	float: left;
	display: block;
        justify-content: space-between;
	color: #fff;
        padding-left: .5rem;
        padding-right: .5rem;
        margin-right: .5rem;
}
#loginregister a:hover{
    color: rgba(255,255,255,.75);
}

.btn-floating i {
    font-size: 1.25rem;
    line-height: 47px;
    display: inline-block;
    width: inherit;
    text-align: center;
    color: #fff;
}
.carousel-multi-item .controls-top .btn-floating {
    background: #4285f4;
}
.btn-floating {
    box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 15px 0 rgb(0 0 0 / 15%);
    width: 47px;
    height: 47px;
    z-index: 1;
    display: inline-block;
    overflow: hidden;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin: 10px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    vertical-align: middle;
    position: relative;
}
.carousel-multi-item .controls-top {
    text-align: center;
    margin-bottom: 1.88rem;
}

#form{
    padding-bottom: 75px;
    padding-top: 50px;
}
