*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#map{
    margin-top: 100px;
}
#mapid { 
    height: 600px; 

}
main{
    margin-top: 100px;
}
h1{
    text-align: center;
    margin-bottom: 40px;
}

h1:after{
    display: block;
    height: 2px;
    background-color: black;
    content: " ";
    width: 200px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 0px;
}
#loginregister ul{
	text-decoration: none;
}
#loginregister a{
	float: left;
	display: block;
        justify-content: space-between;
	color: #fff;
        padding-left: .5rem;
        padding-right: .5rem;
        margin-right: .5rem;
}
#loginregister a:hover{
    color: rgba(255,255,255,.75);
}

.card-main{
    height: 150px;
}

.col{
    margin-top: 30px;
}

h3{
    margin-top: 30px;
}

